.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 80px auto 100px;

    &__left-col {
        min-height: 408px;
        width: 25%;
        background: url("../../assets/images/about-pets.png");
    }

    &__right-col {
        display: flex;
        flex-direction: column;
        width: 35.9%;
        gap: 25px;
    }

    &__title {
        margin: 0;
        font-family: 'Georgia Regular';
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
    }

    &__text-1,
    &__text-2 {
        margin: 0;
        font-family: 'Arial Regular';
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
    }
}