.button {
    display: block;
    width: max-content;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia Regular';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-decoration: none;
    color: #292929;
    transition: 0.3s;

    &:hover {
        background: #FDDCC4;
    }
}