.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {

    &__name {
        color: #545454;
    }

    &__title {
        color: #292929;
    }
}

.nav {

    &__link {
        color: #545454;

        &--active,
        &:active {
            color: #292929;
        }

        &:hover {
            color: #292929;
        }
    }

    @media (max-width: 767px) {

        background-color: #ffffff;
    }
}