.wrapper {
    max-width: 1200px;
    padding: 0 40px;
    margin: auto;

    @media (max-width: 878px) {
        padding: 0 30px;
    }

    @media (max-width: 580px) {
        padding: 0 10px;
    }
}