<button id="themeToggle">
  <svg
    class="size-6 active:animate-ping"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <use href="/icons.svg#sun" class="fill-primary dark:fill-transparent"></use>
    <use href="/icons.svg#moon" class="fill-transparent dark:fill-primary"
    ></use>
  </svg>
</button>

<script is:inline>
  const getTheme = () => {
    switch (true) {
      case localStorage.getItem('wstv-theme') !== null:
        return localStorage.getItem('wstv-theme');
      case window.matchMedia('(prefers-color-scheme: dark)').matches:
        return 'dark';
      default:
        return 'light';
    }
  };

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle('dark');

    const isDark = element.classList.contains('dark');
    localStorage.setItem('wstv-theme', isDark ? 'dark' : 'light');
  };

  const setTheme = () => {
    const action = getTheme() === 'dark' ? 'add' : 'remove';
    document.documentElement.classList[action]('dark');
    document
      .getElementById('themeToggle')
      .addEventListener('click', handleToggleClick);
  };

  setTheme();

  document.addEventListener('astro:after-swap', setTheme);
</script>
