<button id="themeToggle">
  <svg
    class="size-6 active:animate-ping"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <use href="/icons.svg#sun" class="fill-primary dark:fill-transparent"></use>
    <use href="/icons.svg#moon" class="fill-transparent dark:fill-primary"
    ></use>
  </svg>
</button>

<script is:inline>
  const handleToggleClick = () => {
    const element = document.documentElement;

    const isDark = element.classList.toggle('dark');
    localStorage.setItem('wstv-theme', isDark ? 'dark' : 'light');
  };

  document.addEventListener('astro:page-load', () => {
    document
      .getElementById('themeToggle')
      .addEventListener('click', handleToggleClick);
  });
</script>
