---
import BaseLayout from '@/layouts/BaseLayout.astro';
import AnimatedText from '@/components/AnimatedText.astro';
const pageTitle = 'Home | Wystov';
---

<BaseLayout pageTitle={pageTitle}>
  <section class="flex flex-col grow justify-center items-center mt-[-52px]">
    <h1 class="text-5xl font-bold">Hi, i'm</h1>
    <AnimatedText text="WYSTOV" />
    <p class="text-lg tracking-wider">Frontend developer</p>
  </section>
</BaseLayout>
