---
import BaseLayout from '@/layouts/BaseLayout.astro';
import AnimatedText from '@/components/AnimatedText.astro';
const pageTitle = 'Home | Wystov';
---

<BaseLayout pageTitle={pageTitle}>
  <section
    class="mt-[-52px] flex grow animate-[fadein_500ms_ease-in_forwards] flex-col items-center justify-center opacity-0"
  >
    <h1 class="text-5xl font-bold">Hi, i'm</h1>
    <AnimatedText text="WYSTOV" />
    <p
      class="animate-[textexpand_1s_ease_1s_forwards] text-lg tracking-[-0.5em] opacity-0"
    >
      Frontend developer
    </p>
  </section>
</BaseLayout>

<style>
  @keyframes fadein {
    0% {
      filter: blur(6px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes textexpand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 0.05em;
      opacity: 1;
    }
  }
</style>
