---
import ThemeIcon from './ThemeIcon/ThemeIcon.astro';

const links = [
  { title: 'Home', url: '/' },
  { title: 'Projects', url: '/projects/' },
];

const pathname = new URL(Astro.request.url).pathname;
---

<header
  class="bg-neutral/90 sticky top-0 z-50 flex w-full justify-between py-3 backdrop-blur-[1px] transition-[background-color] duration-500"
>
  <nav class="flex justify-start gap-4">
    {
      links.map((link) => (
        <a
          href={link.url}
          class={`${pathname === link.url ? 'text-accent' : ''} hover:text-accent/80 text-xl font-bold tracking-wider`}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
  <ThemeIcon />
</header>
