---
import ThemeIcon from './ThemeIcon/ThemeIcon.astro';

const links = [
  { title: 'Home', url: '/' },
  { title: 'Projects', url: '/projects' },
];
---

<header class="sticky top-0 w-full py-2">
  <nav>
    <ul class="flex gap-4 justify-center">
      {
        links.map((link) => (
          <li class="text-xl font-bold tracking-wider hover:text-gray-600 dark:hover:text-amber-300">
            <a href={link.url}>{link.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
  <ThemeIcon />
</header>
