---
import ThemeIcon from './ThemeIcon/ThemeIcon.astro';

const links = [
  { title: 'Home', url: '/' },
  { title: 'Projects', url: '/projects/' },
];

const pathname = new URL(Astro.request.url).pathname;
---

<header
  class="sticky top-0 z-50 flex w-full justify-between bg-stone-50/90 py-3 backdrop-blur-[1px] transition-[background-color] duration-500 dark:bg-stone-950/90"
>
  <nav class="flex justify-start gap-4">
    {
      links.map((link) => (
        <a
          href={link.url}
          class={`${pathname === link.url ? 'text-gray-600 dark:text-amber-300' : ''} text-xl font-bold tracking-wider hover:text-gray-600 dark:hover:text-amber-300`}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
  <ThemeIcon />
</header>

<style>
  a:first-of-type {
    margin-right: auto;
  }
</style>
