---
type Props = {
  href: string;
  text: string;
  external?: boolean;
};

const { href, text, external } = Astro.props;

const attrs = external && { target: '_blank', rel: 'noopener noreferrer' };
---

<a
  href={href}
  {...attrs}
  class="hover:text-neutral rounded border-2 border-primary px-3 py-1 duration-300 hover:bg-primary"
>
  {text}
</a>
