---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';

const projects = await getCollection('projects');
---

<BaseLayout pageTitle="Projects">
  <p>Projects</p>
  <p>Total: {projects.length}</p>
  <ul>
    {
      projects.map((project) => (
        <li>
          <a href={`/projects/${project.slug}`}>{project.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
