---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Projects } from '@/components/Projects';

const projects = await getCollection('projects');
---

<BaseLayout pageTitle="Projects">
  <section class="mb-4">
    <Projects client:load data={projects} />
  </section>
</BaseLayout>
