:root {
  --color-bg: 250 250 249;
  --color-text: 12 10 9;
  --color-accent: 6 78 59;
  --color-highlight: 148 163 184;
}

.dark:root {
  --color-bg: 12 10 9;
  --color-text: 250 250 249;
  --color-accent: 252 211 77;
  --color-highlight: 51 65 85;
}
