---
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header/Header.astro';
import Footer from '@/components/Footer.astro';
import '@/assets/styles/main.css';

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-neutral font-poppins text-primary transition-colors duration-500"
  >
    <div class="m-auto flex min-h-dvh max-w-screen-xl flex-col px-6">
      <Header />
      <main class="flex grow flex-col">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
</style>
