---
import { ViewTransitions } from 'astro:transitions';
import Header from '@/components/Header/Header.astro';
import Footer from '@/components/Footer.astro';
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body
    class="font-poppins bg-stone-50 text-stone-950 dark:bg-stone-950 dark:text-stone-50 transition-colors duration-500"
  >
    <div class="flex flex-col min-h-dvh max-w-screen-xl m-auto px-6">
      <Header />
      <main class="flex flex-col grow">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
</style>
